build
material
private.*
.vscode/compile_commands.json
.cache
# cache
# *.log
# *.lock
.xmake

# Upload when I use it
resource

# Temporary notes
TODO.md

# Doxygen
doc/html

# include
include/asio*
include/crow*

# temporary
test